.learns__story-title a{
    color:green; 
}

div {
    display: block;
}

#main {
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 3em repeat(5,minmax(-webkit-min-content,-webkit-max-content)) 3em repeat(3,minmax(-webkit-min-content,-webkit-max-content)) 3em repeat(3,minmax(-webkit-min-content,-webkit-max-content)) 300px auto auto;
    grid-template-rows: 100px 3em repeat(5,minmax(min-content,max-content)) 3em repeat(3,minmax(min-content,max-content)) 3em repeat(3,minmax(min-content,max-content)) 300px auto auto;
    grid-template-areas:
    "header"
    "title1"
    "a1"
    "a2"
    "b1"
    "b2"
    "b3"
    "title2"
    "c1"
    "c2"
    "c3"
    "title3"
    "d1"
    "d2"
    "d3"
    "ad"
    "latest"
    "contact";
}

/* might need to add more descriptive names later so doesn't conflict with larger AR site */
.container {
        max-width: initial!important;
        margin: 0 2rem!important;
        width: 100%;
    }

.article-container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.article-container a {
    color: #000;
}
.article-content-container {
    padding: 10px 10px 0;
}
.tag {
    margin-right: 5px;
    background: #c6d653;
    color: #696969;
    padding: 2px 5px;
    font-family: "Open Sans",sans-serif;
}
.article-headline {
    font-size: 1.2em;
    font-family: "Merriweather",serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.article-description, .tag {
    font-size: .8em;
    font-weight: 400;
}

/* these might be different depedning on Aidan/Ellington*/
.image-container, .image-container img {
    height: 100%;
    width: 100%;
}

.image-container img {
    object-fit: cover;
}

.a1 {
        grid-area: a1;
        text-align: center;
    }
.a2 {
    grid-area: a2;
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.title2{
    grid-area: title2;
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c1;
}
.title3{
    grid-area: title3;
}
.d1{
    grid-area: d1;
}
.d2{
    grid-area: d2;
}
.d3{
    grid-area: d3;
}
.ad{
    grid-area: ad;
}
.latest{
    grid-area: latest;
}
.contact{
    grid-area: contact;
}
.a1 .article-container {
    flex-flow: column-reverse;
    max-width: 100%;
    padding: 0;
}
.a1 .article-headline {
    font-family: "Merriweather",serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.a1 .article-container .article-description a {
    font-family: "Merriweather",serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
    color: grey;
}

.a1 .article-media-container {
    max-height: 70%;
    width: 100%;
    margin-bottom: 0.5em;
}
/* .learns_story {
        display: flex;
        flex-direction: column;
    } */

#learns_data_story {
        display: flex;
        flex-direction: column;
    }

 #learns_ad_unit_1 {
        width: 300px;
        height: 600px;
        color: white;
        background-color: #0b7fa0;
    }

 #learns_ad_unit_2 {
        background-color: #0b7fa0;
        color: white;
    }

#learns__contact {
    background-color: #0b7fa0;
    color: white;
}

@media only screen and (min-width: 60em){
   #main {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 3em repeat(3,minmax(10em,-webkit-min-content)) 300px repeat(2,minmax(10em,-webkit-min-content)) 3em repeat(3,minmax(-webkit-min-content,-webkit-max-content));
    grid-template-rows: 100px 3em repeat(3,minmax(10em,min-content)) 300px repeat(2,minmax(10em,min-content)) 3em repeat(3,minmax(min-content,max-content));
    grid-template-areas:
        "header header"
        "title1 latest"
        "a1 latest"
        "a1 latest"
        "a2 latest"
        "b1 ad"
        "b2 contact"
        "b3 contact"
        "title2 title3"
        "c1 d1"
        "c2 d2"
        "c3 d3";
        }
    .article-container {
        flex-flow: row;
        max-width: 40%;
        padding: 0 10px 0 0;
    }
    .article-media-container {
        width: 60%;
    }

    }